@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: Arial, sans-serif;
    background-color: rgb(22, 3, 3);
    margin: 0;
    padding: 0;
  
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0,0.1);
}
h2{
    font-size: 5rem;
    font-family: sans-serif;
    font-style: normal;
    color: #f9f9f9;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    padding-top: 10px;
}
.search-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.input-field{
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0,0.1);
    width: 380px;
    font-size: 16px;
    outline: none;
}
.Search-button{
    background-color: #fff;
    padding: 10px 11px;
    color: black;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.filters{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #f9f9f9;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;

}
#sort-by{
    border-radius: 20px;
    font-weight: 200px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    color: #333;
    padding: 5px 5px;
    font-size: 12px;
}
.gere{
    border-radius: 20px;
    font-weight: 200px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    color: #333;
    padding: 5px 5px;
    font-size: 12px;
}
.movie-wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    padding: 50px 50px;
    
}
.movie{
    background-color: #f9f9f9;
    padding: 20px;
    height: max-content;
    border-radius: 20px;
    box-shadow:0 4px 6px #333;
    
}